<aside class="side-bar">
    <div class="user-list-bar" id="user-list-bar">
        <% otherUsers.forEach((other) => { %>
            
            <a href="/chat?user=<%= other.username %>">
                    <% if(other.minutes_diff === null || other.minutes_diff >= 5) { %>
                        <span class="inactive-user"></span>
                    <% } else { %>
                        <span class="active-user"></span>
                    <% } %>
                    <%= other.username %>
            </a>

        <% }); %>
    </div>
</aside>

<section class="chat">
    <div class="message-user-profile">
        <% 
        var writeEnabled = "";
        if(currentOther) { %>
            <%= currentOther.username %> 

            <input type="hidden" id="other-id" value="<%= currentOther.user_id %>"/>

            <% if(currentOther.minutes_diff === null || currentOther.minutes_diff >= 5) { %>
                <span> - inactive </span>
            <% } else { %>
                <span> - active now </span>
            <% } %>
        <% 
        } 
        else {
            currentOther = {"user_id": -1};
            writeEnabled = "disabled";
            %>
                <input type="hidden" id="other-id" value="-1"/>
            <%
        } 
        %>
    </div>
    <div class="message-container" id="message-container">
        <% 
            // pentru fiecare mesaj din chat, daca are ca sender userlogged.user_id
            chatMessages.forEach(msg => {
                // daca mesajul este al userului curent
                if(msg.id_sender == userlogged.user_id){
                %>
                    <div class="user-message">
                        <p><%= msg.message_content %></p>
                        <span class="message-date"><%= msg.timestamp %></span>
                    </div>
                <%
                }
                else{
                    // mesajul este al celuilalt user
                    %>
                    <div class="other-message">
                        <p><%= msg.message_content %></p>
                        <span class="message-date"><%= msg.timestamp %></span>
                    </div>
                    <%
                }
            });
        %>
    </div>

    <div class="write-container">
        <textarea id="txtMessage" <%= writeEnabled %> placeholder="Write here some text ..."></textarea>
        <button <%= writeEnabled %> onclick="sendMessage(<%= userlogged.user_id %>, <%= currentOther.user_id %>)" id="btnSend">Send message</button>
        <div class="clear-both"></div>
    </div>

</section>
<script> chatOnloadFunction();</script>